include ../head.pug
body
  .container.mt-5.text-center
    h1 Welcome to the Recipe App!
    p Choose an action:
    
    .d-grid.gap-3.col-6.mx-auto.mt-4
      a.btn.btn-primary.btn-lg(href='/list') View Recipe List
      a.btn.btn-success.btn-lg(href='/add') Add New Recipe
